.menu{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    display: flex;
    justify-items: center;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    border-bottom: red 2px solid;
    font-weight: bold;
    height: 4rem;

    &__item {
        display: flex;
        max-height: 100%;
        color: white;
        align-items: center;
        padding: 1.2rem;
        cursor: pointer;
        text-decoration: none;
    
        &:hover{
          background-color: rgba(128, 128, 128, 0.1);
          transition: 0.2s ease-in-out;
        }
      }
}