.list{
	text-align: center;
	transition: all 0.3s ease-in-out;
	scroll-behavior: smooth;
}

.list-item{
    margin: 1rem;
	transition: transform 0.3s ease-in-out;
	width: 100%;

}

.card-label{
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	padding: 0 0.25rem;
}

.list-item:hover  .card-label{
	opacity: 0;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
    border-radius: 0.5rem;
	width: 100%;

    & img {
        border-radius: 0.5rem;
        width: 300px;
        height: 450px;
    }
}

.list-item:hover {
	cursor: pointer;
	transform: scale(1.02);
}



.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: -webkit-fill-available;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 15px;
	font-weight: bold;
	padding: 1rem 0;
	text-align: center;
	border-radius: 0 0 0.5rem 0.5rem;
	width: 100%;

}

.list-item:hover .overlay {
	opacity: 1;
}


